.root {
  display: flex;
  gap: 40px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 23px 9px rgba(13, 8, 66, 0.01), 0px 13px 8px rgba(13, 8, 66, 0.05),
    0px 6px 6px rgba(13, 8, 66, 0.09), 0px 1px 3px rgba(13, 8, 66, 0.1),
    0px 0px 0px rgba(13, 8, 66, 0.1);
}
.img-product {
  width: 180px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;

  img {
    width: 100%;
  }
}
.detail-product {
  width: 219px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.desc-product {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  color: rgba(13, 8, 66, 0.52);
  width: 185px;
  height: 33px;
}
.ButtonAdd {
  width: 80%;
}
.name-product {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.about-product {
  margin: 0px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.price-product {
  font-family: Nunito Sans;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  gap: 10px;
  padding: 0;
  margin: 0;

  span {
    display: inline-block;
    align-items: flex-start;
    padding: 10px 10px 0 0px;
  }
}
.price {
  color: #0d0842;
}
.price-before {
  position: relative;
  color: #6c6c6c;
  // text-decoration-line: line-through;
}
.price-before::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  left: -5px;
  top: 65%;
  border-top: 1px solid #6c6c6c;
}
