.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 36px;
  background: #ffce1a;
  box-shadow: -21px 8px 9px rgba(254, 175, 56, 0.01), -12px 5px 8px rgba(254, 175, 56, 0.05),
    -5px 2px 6px rgba(254, 175, 56, 0.09), -1px 1px 3px rgba(254, 175, 56, 0.1),
    0px 0px 0px rgba(254, 175, 56, 0.1);
  border-radius: 8px;

  span {
    overflow: hidden;
  }
}
.root:hover {
  color: #ffce1a;
  background-color: white;
  border: 1px solid #ffce1a;

  path {
    stroke: #ffce1a;
  }
}
