.root {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  select {
    color: #0D0842;
    width: 188px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 10px;
    gap: 50px;
    background: rgba(234, 234, 234, 0.8);
    backdrop-filter: blur(75px);
    border-radius: 8px;
  }
  select option {
    background: #EAEAEA;
    overflow: scroll;
    height: 144px;
  }
}
