.root {
  display: inline-block;
  height: 250px;
  width: 180px;
  background-color: #dc4a5c;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.root:hover {
  img {
    transform: scale(0.97);
    transition: transform 300ms ease-out;
  }
}
