.App {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-top: 35px;
  padding-bottom: 9px;
  padding-right: 6%;
  padding-left: 6%;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 40px;

  img {
    cursor: pointer;
  }

  img:first-child {
    width: 18px;
    height: 22px;
  }
  img:last-child {
    width: 25px;
    height: 20px;
  }
}
.header-right {
  display: flex;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 100px;

  img {
    width: 24px;
    height: 18px;
  }
}
